In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2021-09-26 20:41:21,-42.8794,147.3294,42.12,90,20,3.00
1,1,Albany,US,2021-09-26 20:45:22,42.6001,-73.9662,68.65,46,8,8.57
2,2,Bluff,NZ,2021-09-26 20:45:31,-46.6000,168.3333,41.81,73,24,9.15
3,3,Manggar,ID,2021-09-26 20:53:29,-2.8833,108.2667,80.37,78,95,4.88
4,4,Nisia Floresta,BR,2021-09-26 20:53:30,-6.0911,-35.2086,81.41,82,24,13.13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Manggar,ID,2021-09-26 20:53:29,-2.8833,108.2667,80.37,78,95,4.88
4,4,Nisia Floresta,BR,2021-09-26 20:53:30,-6.0911,-35.2086,81.41,82,24,13.13
7,7,Bahia Honda,CU,2021-09-26 20:53:30,22.9036,-83.1592,84.36,72,9,9.51
9,9,Kapaa,US,2021-09-26 20:45:36,22.0752,-159.3190,82.38,75,75,3.00
11,11,Jalu,LY,2021-09-26 20:53:31,29.0331,21.5482,75.78,34,0,7.27
15,15,Butaritari,KI,2021-09-26 20:41:30,3.0707,172.7902,83.71,74,100,16.15
16,16,Sabha,LY,2021-09-26 20:53:33,27.0377,14.4283,76.91,19,0,8.63
17,17,Hadejia,NG,2021-09-26 20:53:33,12.4498,10.0444,85.77,33,2,6.60
18,18,Gamba,GA,2021-09-26 20:46:18,-2.6500,10.0000,75.58,87,99,5.10
21,21,Atuona,PF,2021-09-26 20:45:41,-9.8000,-139.0333,78.06,71,6,17.58

In [11]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3          Manggar      ID     80.37  -2.8833  108.2667
4   Nisia Floresta      BR     81.41  -6.0911  -35.2086
7      Bahia Honda      CU     84.36  22.9036  -83.1592
9            Kapaa      US     82.38  22.0752 -159.3190
11            Jalu      LY     75.78  29.0331   21.5482
15      Butaritari      KI     83.71   3.0707  172.7902
16           Sabha      LY     76.91  27.0377   14.4283
17         Hadejia      NG     85.77  12.4498   10.0444
18           Gamba      GA     75.58  -2.6500   10.0000
21          Atuona      PF     78.06  -9.8000 -139.0333

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Manggar,ID,80.37,-2.8833,108.2667,Guest Hotel
4,Nisia Floresta,BR,81.41,-6.0911,-35.2086,Rancho Crepusculo
7,Bahia Honda,CU,84.36,22.9036,-83.1592,Casa Gualberto - Deysi
9,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Jalu,LY,75.78,29.0331,21.5482,صاحبة الفخامة
15,Butaritari,KI,83.71,3.0707,172.7902,Isles Sunset Lodge
16,Sabha,LY,76.91,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...
17,Hadejia,NG,85.77,12.4498,10.0444,Kasuwar Kuda Hadejia General Hospital Road
18,Gamba,GA,75.58,-2.6500,10.0000,
21,Atuona,PF,78.06,-9.8000,-139.0333,Villa Enata

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))